*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #252525;
    color: white;
}

video{
    display: block;
    margin: auto;
    width: 80%;
    height: 80vh;
    margin-top: 2vh;
    border: 0.2vh solid white;
}

input,textarea{
    display: block;
    margin: auto;
    margin-top: 2vh;
}

button{
    all: unset;
    display: block;
    margin: auto;
    background-color: #1f1b1b;
    color: yellow;
    padding: 3vh;
    margin-top: 2vh;
    cursor: pointer;
    width: 20vh;
    text-align: center;
}

#Conteudo > div{
    border: 0.4vh solid white;
    background-color: #252525;
    display: block;
    margin: auto;
    margin-top: 2vh;
    width: 80%;
    text-align: center;
}